{% extends "base.html" %}

{% block content %}
<h3>Contacts list</h3>

<table class="table table-striped table-hover">
    <thead>
        <th>Name</th>
        <th>Cellphone</th>
        <th>E-Mail</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.first_name|e }} {{ contact.surname|e }}</td>
                <td>{{ contact.cellphone|e }}</td>
                <td>{{ contact.email|e }}</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="/manage?id={{ contact.id }}"></a>
                    <a class="glyphicon glyphicon-remove" onclick=""></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
