/* Global styles */
h3 {
    margin-bottom: 30px;
}

/* Base styles */
.container .slogan
{
    font-style: italic;
    margin-bottom: 30px;
}

/* Contact manage styles */
a.glyphicon {
    cursor: pointer;
}

.profile_thumbnail {
    margin-right: 15px;
}

.address_textarea {
    width: 400px;
    height: 150px;
}
